
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.container-fluid {
  position: relative;
  height: 700px;
  background-color: #37517E;
  
}
h1{
  font-family: 'Jost';
  position: absolute;
  color: white;
  font-size: 48px;
  margin-left: 50px;
  width: 561.42px;
  height: 125px;
  left: 12px;
  top: calc(50% - 125px/2 - 86.8px);
}

.container-fluid p{
  font-family: 'Jost';
  margin-left: 50px;
  position: absolute;
  width: 594.64px;
  height: 63.8px;
  left: 12px;
  top: calc(50% - 63.8px/2 + 7.59px);
  color: rgba(255, 255, 255, 0.6);

}

.img{
  position: absolute;
  width: 500px;
  height: 527px;
  left: 639px;
  top: calc(50% - 527px/2 + 8.5px);
  
}

.getstarted{
  font-family: 'Jost';
  margin-top: 450px;
  margin-left: 50px;
  left: 12px;
  position: absolute;
  align-items: flex-start;
  padding: 9px 28.3594px 12px 28px;
  width: 147.36px;
  height: 45px;
  color: white;
  background: #47B2E4;
  border-radius: 50px;
  border: 0;

}

.getstarted:hover{
  background: #3995c0;
}

.video{
  font-family: 'Open Sans';
  margin-top: 450px;
  margin-left: 200px;
  left: 12px;
  position: absolute;
  align-items: flex-start;
  padding: 9px 28.3594px 12px 28px;
  width: 147.36px;
  height: 45px;
  color: white;
  background: none;
  border: 0;

}

.container p{
  font-family: 'Open Sans';
}

.container{
  font-family: 'Jost';
  color: #37517E;
  text-align: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px;
  width: auto;
  height: 239px;
  background: #F3F5FA;
  flex: none;
  order: 0;
  flex-grow: 0;
}

label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: 15px;
}

h3{
  font-size: 24px;
}

.input {
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 110px 6px 10px;
  isolation: isolate;
  border: 0;
  width: 500px;
  height: 25px;
  left: 12px;
  top: 96.5px;

  background: #FFFFFF;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
}

.submit{
  padding: 10px;
  margin-top: 2px;
  right: 323px;
  position: absolute;
  background: #47B2E4;
  border-radius: 50px;
  border: none;
  padding: 8px 26px;
  color: #FFFFFF;
}

.submit:hover{
  background: #3a94be;
  border-radius: 50px;
  border: none;
  padding: 8px 26px;
  color: #FFFFFF;
}

.row{
  justify-content: center;
}

.footer {
  background-color: white;
  padding: 70px 0;
}

.footer-col {
  width: 20%;
  padding-left: 5px;
}
.footer-col h4 {
  font-family: 'Jost';
  font-size: 18px;
  color: #37517E;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(0, 3, 255, 0.8);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-family: 'Open Sans';
  font-size: 16px;
  text-transform: capitalize;
  color: gray;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: rgba(0, 3, 255, 0.8);
  padding-left: 8px;
}

.row{
  display: flex;
  
}

.footer-col .social-media a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: lightskyblue;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: lightblue;
  margin: 0 10px 10px 0;
  transition: all 0.5s ease;
}

.footer-col .social-media a:hover {
  color: rgba(0, 3, 255, 0.8);
  background-color: lightskyblue;
}

.sosial-media {
  color: #444444;
  margin-bottom: 20px;
}
.fixed-footer {
  width: 100%;
  position: relative;
  background: #00BFFF;
  margin: 0 10px 10px 0;
  padding: 10px 0;
  color: white;
  text-align: center;
}

.fixed-footer {
  bottom: 0;
}
  

#footer {
  padding: 30px;
  color: white;
  background-color: #37517E;;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.design{
  text-align: right;
  margin-right: 100px;
}

.copyright{
  margin-left: 100px;
}

